.AEMContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ebe7e7;
  padding: 1rem 2rem;
}

.btnContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.btnContainer > * {
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  align-items: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border: 1px solid skyblue;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.item-title {
  flex-grow: 1;
}

.item-icon{
  width: 2.5rem;
  cursor: pointer;
  img{
    display: block;
    max-width: 100%;
    aspect-ratio: 1;
  }
}

.addSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

button {
  margin: 0 0.25rem;
  border: none;
  background-color: transparent;
}
